{% extends 'core.html' %}

{% block body %}

    <div class="form-editor my-4 p-2 mx-auto lg:max-w-xl">
        <h1 class="text-3xl my-8 uppercase text-center">Simple Quiz</h1>
        <p class="text-center">Test your knowledge with a variety of questions or <a href="/create" class="text-green-500 hover:text-green-600 active:text-green-400">create your own</a>.</p>
        <div>
            {% for quiz in quizzes %}
            <div class="p-2 shadow my-2">
                <div class="font-medium p-1.5">{{ quiz.title }}</div>
                <hr>
                <div class="text-sm p-2 flex justify-between items-center">
                    <div>{{ quiz.date }}</div>
                    <div>{{ quiz.total_attempts }} attempts (🟩 {{ quiz.nb_of_successful_attempts }} 🟥 {{ quiz.nb_of_failed_attempts }})</div>
                    <a href="{% url 'quiz_detail' quiz.pk %}" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium text-sm px-3 py-1.5">Attempt</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
