{% extends 'core.html' %}

{% block title %}
    Quiz {{ quiz.pk }}
{% endblock %}

{% block body %}
    <div class="form-editor my-4 p-2 mx-auto lg:max-w-xl">
        <h1 class="text-3xl my-8 uppercase">❓ {{ quiz.title }}</h1>
        <div class="my-4 text-sm text-gray-700 flex justify-between items-center">
            <div class="italic">{{ quiz.date }}</div>
            <div>{{ quiz.total_attempts }} attempts (🟩 {{ quiz.nb_of_successful_attempts }}
                🟥 {{ quiz.nb_of_failed_attempts }})
            </div>
        </div>
        <div>You have the following options:</div>
        <ol class="list-decimal pl-8">
            <li>{{ quiz.option1 }}</li>
            <li>{{ quiz.option2 }}</li>
        </ol>
        <form method="POST" class="my-6">
            {% csrf_token %}
            <fieldset class="border border-green-700">
                <legend class="ml-1.5 px-2 text-sm">
                    Which one is correct?
                </legend>
                <div class="my-4 text-sm mx-2">
                    <div class="flex pl-2 items-center">
                        <span class="flex items-center pl-3">
                <input required type="radio" id="op1" value="op1" name="correct_option" class="ml-2 p-1.5 border"/>
                <label class="inline py-3 ml-2 font-medium text-gray-900" for="op1">Op 1</label>
              </span>

                        <span class="flex items-center pl-3">
                <input required type="radio" id="op2" value="op2" name="correct_option" class="ml-2 p-1.5 border"/>
                <label class="inline py-3 ml-2 font-medium text-gray-900" for="op2">Op 2</label>
              </span>

                        <span class="flex items-center pl-3">
                <input required type="radio" id="op3" value="all" name="correct_option" class="ml-2 p-1.5 border"/>
                <label class="inline py-3 ml-2 font-medium text-gray-900" for="op3">All</label>
              </span>

                        <span class="flex items-center pl-3">
                <input required type="radio" id="op4" value="none" name="correct_option" class="ml-2 p-1.5 border"/>
                <label class="inline py-3 ml-2 font-medium text-gray-900" for="op4">None</label>
              </span>
                    </div>
                </div>
            </fieldset>
            <button type="submit"
                    class="my-2 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium text-sm px-5 py-2.5">
                Try
            </button>
        </form>
    </div>
{% endblock %}